<mat-card>
    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="Open">Open</mat-option>
          <mat-option value="Closed">Closed</mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">{{ ticketId ? 'Update' : 'Create' }} Ticket</button>
    </form>
</mat-card>
  