<div class="profile-container">
    <h2 class="text-center">User Profile</h2>
    <div class="card profile-card">
      <img src="assets/images/profile.jpg" style="width: 100px; height: 100px" class="card-img-top" alt="User Picture">
      <div class="card-body">
        <h4 class="card-title">{{ userName }}</h4>
        <p class="card-text">Email: {{ email }}</p>
        <button class="btn btn-primary" style="background-color: #02A459;" routerLink="/settings">Edit Profile</button>
      </div>
    </div>
</div>
  