<mat-toolbar color="accent" class="footer-toolbar">
    <div class="footer-content">
      <span>&copy; 2024 Ticketus. All rights reserved.</span>
      <span class="footer-links">
        <a href="#" class="footer-link">Privacy Policy</a>
        <a href="#" class="footer-link">Terms of Service</a>
        <a href="/contact" class="footer-link">Contact Us</a>
      </span>
      <span class="social-icons">
        <a href="https://github.com/w2001-RF/" target="_blank" class="social-link">
          <mat-icon>github</mat-icon>
        </a>
        <a href="https://www.linkedin.com/in/wassim-rifay-8a33371a3" target="_blank" class="social-link">
          <mat-icon>linkedin</mat-icon>
        </a>
      </span>
    </div>
  </mat-toolbar>
  