<section class="example-container mat-elevation-z8" tabindex="0">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchQuery" (ngModelChange)="applyFilter()" placeholder="Search by description or status">
      </mat-form-field>
    </div>

    <div *ngIf="noTicketsMessage" class="no-tickets-message">
      <p>No tickets available. Please add a new ticket.</p>
    </div>
    
    <table *ngIf="!noTicketsMessage" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="ticketId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticket Id </th>
        <td mat-cell *matCellDef="let ticket"> {{ ticket.ticketId }} </td>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let ticket"> {{ ticket.description }} </td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let ticket"> {{ ticket.status }} </td>
      </ng-container>

      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let ticket"> {{ changeDateFormat(ticket.dateCreated) }} </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let ticket">
          <button mat-button (click)="openEditDialog(ticket)"><u>Update</u></button>
          <button mat-button (click)="openDeleteDialog(ticket.id)"><u>Delete</u></button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div style="margin-top: 20px; text-align: left;">
      <button mat-raised-button id="btn-add-ticket" (click)="openAddDialog()">Add New</button>
    </div>

    <mat-paginator [length]="totalCount"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 25, 50]"
                 (page)="onPageChange($event)">
  </mat-paginator>
</section>
  