$primary-bg-color: #02A459
$underline-color: #683096

.example-container
  height: 400px
  max-width: 100%
  overflow: auto
  padding: 20px

table
  width: auto !important
  border: 1px solid #e0e0e0 !important
  background-color: #F0F0F0

td, th
  width: auto !important
  border: 1px solid #e0e0e0 !important

.mat-mdc-header-cell
  background-color: $primary-bg-color !important
  color: white

.mat-mdc-button:not(:disabled)
  color: $underline-color !important

tr, button
  font-weight: bold

#btn-add-ticket
  background-color: $primary-bg-color !important
  width: 110px
  height: 50px
  margin-left: 20px
  margin-top: 20px
  color: white

.no-tickets-message
  color: #f44336
  font-size: 16px
  margin: 16px 0